<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @meeting.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @meeting.starting_date %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @meeting.ending_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting.location %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
